In [7]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [8]:
pages = ["models","model3","modelx"]

tesla=[]
for page in pages:

    url = f"https://www.tesla.com/fr_fr/{page}"

    reponse=requests.get(url)

    soup = BeautifulSoup(reponse.text,"html.parser")

    donnees=soup.find_all("div", {"class": "tcl-badge__primary-copy tds-text--h2"})

    news_i={}
    news_i['marque'] = page
    news_i['vitesse'] = donnees[0].text
    news_i['donnee1'] = donnees[1].text
    news_i['donnee2'] = donnees[2].text
    news_i['chevaux'] = donnees[3].text
    tesla.append(news_i)

IndexError: list index out of range

In [ ]:
df=pd.DataFrame(tesla, columns=['marque', 'vitesse', 'donnee1', 'donnee2', 'chevaux'])

In [ ]:
df.to_csv('tesla_scrpping', index=False, encoding='utf-8')

In [10]:
empdata = pd.read_csv('C:\PythonWork\Tesla\\tesla_scrpping', index_col=False, delimiter = ',')
empdata.head()

,marque,vitesse,donnee1,donnee2,chevaux
0,models,\n 600 km\n,"\n 2,1 s\n",\n 322 km/h\n,\n 1020 ch\n
1,model3,\n 602 km\n,\n AWD\n,\n 261 km/h\n,\n AWD\n
2,modelx,\n 543 km\n,"\n 2,6 s\n","\n 9,9 s\n",\n 1020 ch\n

In [11]:
import mysql.connector as msql
from mysql.connector import Error

user = 'root'
password = 'example'
host = 'localhost'
port = '3308'

try:
    conn = msql.connect(host=host, port=port, user=user,  
                        password=password)
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE tesla")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Database is created

In [16]:
import mysql.connector as mysql
from mysql.connector import Error

user = 'root'
password = 'example'
host = 'localhost'
port = '3308'
database = 'tesla'

try:
    conn = mysql.connect(host=host, port=port, user=user, password=password, database=database)
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS voitures;')
        print('Creating table....')
# in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE voitures(marque varchar(10),vitesse varchar(20),donnee1 varchar(20), donnee2 varchar(20), chevaux varchar(20));")
        print("Table is created....")
        #loop through the data frame
        for i,row in empdata.iterrows():
            #here %S means string values 
            sql = "INSERT INTO voitures VALUES (%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('tesla',)
Creating table....
Table is created....
Record inserted
Record inserted
Record inserted